<h1>Editing Adquisicion</h1>

<%= render 'form', adquisicion: @adquisicion %>

<%= link_to 'Show', @adquisicion, class: 'button radius'%> |
<%= link_to 'Back', adquisicions_path, class: 'button radius'%>
